body {
  background-color: #0F181E;
  font-family: 'Barlow', sans-serif;
}

.main-container { 
  margin: 56px auto;
}

.main-container > h1 {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 700;
  color: #ffff;
}

.main-container h1 span {
  background: linear-gradient(180deg, #EF5D29 0%, #EB5044 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: 800;
}

.main-container h1 span u {
  text-decoration-color: #EB5044;
  
}

.cards-container {
  justify-content: center;
  flex-direction: column;
  display: flex;
  gap: 4rem;
}

.cards-container-one, .cards-container-two {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 2rem;
}

.cards {
  border: 1px solid #141F28;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem 0.75rem;
  border-radius: 0.25rem;
  color: #ffff;
  display: flex;
}

.cards a {
  text-decoration: none;
  color: #fff;
}

.cards p {
  width: 20.75rem;
}

.cards:hover {
  cursor: pointer;
  border-color: #EF5D29;
}

.cards h1 {
  margin: 0rem 0rem;
}

.footer-container {
  text-align: center;
}

.footer-container p {
  font-size: 1.25rem;
  font-weight: 500; 
  color: #fff;
}

.footer-container p a {
  background: linear-gradient(180deg, #EF5D29 0%, #EB5044 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: 800;
  text-decoration: none;
}
